/* Global Styles */
* {
    background-color: #0f0f0f;
    color: white; /* Default text color */
}

body {
    font-family: Arial, sans-serif; /* Default font family */
    margin: 0; /* Reset default margin */
}

.container {
    max-width: 1200px; /* Limit container width */
    margin: 0 auto; /* Center container horizontally */
}

/* Navigation Styles */
nav div a {
    padding: 4px;
}

.navbar-toggler span {
    color: rgb(179, 176, 176);
}

/* Content Styles */
.about-text, .animated-text, #navbarNav, span, p, a, ul, ol, li, div, img, small, h1, h2, h3, h4, h5, h6, .accordian-item, .accordian-body, address, time {
    background-color: #1f1f1f;
    color: white;
}

.about-image {
    margin: 30px;
}

.about-text a {
    background-color: #313030;
}

#experiences div, #experiences h3, #experiences ul, #experiences li, #experiences ul a {
    padding: 10px;
    margin-left: 20px;
    background-color: #2d2d2d;
}

#experiences ul a {
    width: 200px;
}

/* Footer Styles */
.footer-container {
    width: 300px; /* Set the width to your desired size */
    height: 300px; /* Set the height to match the width */
    border: 2px solid #000; /* Add a border */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    color: #007bff;
}

.footer a:hover {
    text-decoration: underline;
}

/* Additional Styles */
.separator {
    border-left: 1px solid #fffcfc;
    height: 10px;
}

.contacts-list a, time, address {
    color: #fdc563;
}

.icon-inner {
    background-color: #a36635;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer p {
        text-align: center;
    }
}
